<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revivable.hydrogen.dao.AreaDao">
    <insert id="batchInsertArea" parameterType="java.util.List">
        insert into area(areaname,
                         descri,
                         priority)
        values
        <foreach collection="list" item="area" index="index" separator=",">
            (
            #{area.areaname},
            #{area.descri},
            #{area.priority}
            )
        </foreach>
    </insert>

    <select id="areaSelectWrapper" resultType="Area">
        select * from area ${ew.customSqlSegment}
    </select>
</mapper>